h1 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 40px;
}
h2 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 30px;
}
h3 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 24px;
}
body {
  background: azure;
  border: 5px;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}
.Navagation a {
  display: flex;
  transform: scale(1);
  transition: 500ms;
}
.Navagation a:hover {
  transform: scale(1.4);
  transition: 500ms;
  color: red;
  background: #8eb1c7;
}
.title {
  display: flex;
  justify-content: center;
  transform: scale(0.8);
  transition: 500ms;
}
.title:hover {
  transform: scale(1.2);
  transition: 500ms;
  color: red;
}
#Experence {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 3rem;
  font-family: "EB Garamond", serif;
  font-size: 18px;
  color: red;
}
#Box {
  display: flex;
  table-layout: auto;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  gap: 5rem;
  table-layout: auto;
  margin: 20px auto;
  width: 80%;
}
th,
td {
  border: 5px soild #ccc;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #ddd;
}
td {
  background-color: #ccc;
}
