h1 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 40px;
}
h2 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 30px;
}
h3 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 24px;
}
body {
  background: azure;
  border: 5px;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}
.Navagation a {
  display: flex;
  transform: scale(1);
  transition: 500ms;
}
.Navagation a:hover {
  transform: scale(1.4);
  transition: 500ms;
  color: red;
  background: #8eb1c7;
}
#Title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#Para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
