h1 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 40px;
}
h2 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 30px;
}
h3 {
  font-family: "EB Garamond", serif;
  color: #c95d63;
  font-size: 24px;
}
body {
  background: aquamarine;
}
a {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  text-decoration: underline;
  color: #c95d63;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}
.Navagation a {
  display: flex;
  transform: scale(1);
  transition: 500ms;
}
.Navagation a:hover {
  transform: scale(1.4);
  transition: 500ms;
  color: red;
}
.title {
  display: flex;
  justify-content: center;
  transform: scale(0.8);
  transition: 500ms;
}
.title:hover {
  transform: scale(1.2);
  transition: 500ms;
  color: red;
}
#imgcontain {
  background-image: url("Images/me.jpg");
  background-size: 100% 100%;
}
#about {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  font-family: "EB Garamond", serif;
  font-size: 20px;
}
#box-2 {
  padding: 4rem;
}
#profile {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile-2 {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "EB Garamond", serif;
}
#Experience {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Experience-2 {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "EB Garamond", serif;
}
#projects {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects-2 {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "EB Garamond", serif;
}
#Skills {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Skills-2 {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "EB Garamond", serif;
}